body,h1,h2,h3{
  margin: 0px;
}
*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

li{list-style: none;}
ul {  
  padding: 0px;
  list-style: none;
  border-left: 10px;
  border-bottom: 10px;
  border-top: 5px;
  border-right: 5px;
  border-color: black;
  border-style: solid;
  background-color: white;
  color: black;
}
.music{
  list-style: none;
  padding: 20px;
  border-left: 10px;
  border-bottom: 10px;
  border-top: 2px;
  border-right: 5px;
  border-color: black;
  border-style: solid;
  background-color: white;
  color: black;
}
#main{
  background-color: red;
  padding: 20px;
}